<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>downmovies</display-name>
	
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.jsf</url-pattern>
	</servlet-mapping>


	<!-- JAAS - Papeis (atuacao) -->
	
	<!-- 
	<security-role>
		<role-name>administrador</role-name>
	</security-role>
	<security-role>
		<role-name>usuario</role-name>
	</security-role>
	
	 -->
	<!-- JAAS - Restricoes de acesso -->
	
	<!--
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Adm</web-resource-name>
			<url-pattern>/views/admin/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>administrador</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>User</web-resource-name>
			<url-pattern>/views/user/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>usuario</role-name>
		</auth-constraint>
	</security-constraint>
	-->
	<!-- JAAS - Login -->
	<!--
	<login-config>
		<auth-method>FORM</auth-method>
		<form-login-config>
			<form-login-page>/views/login.jsf</form-login-page>
			<form-error-page>/views/erro.jsf</form-error-page>
		</form-login-config>
	</login-config>
	-->



</web-app>